* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
}
.container {
    width: fit-content;
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.container.presentation-mode {
    justify-content: center;
}
.container.document-mode {
    justify-content: flex-start;
}

.container.pages {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(0,0,0,0.1);
}

.container canvas {
    width: 100%;
}
.container.pages canvas {
    width: 100%;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
}
